body {
  overflow: hidden;
  background-color: #e4e6eb;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #9ea5b1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #32845f;
}

@media (max-width: 768px) {
  /* For Webkit browsers */
  ::-webkit-scrollbar {
    display: none;
  }

  /* For Firefox */
  body {
    scrollbar-width: none; /* For the entire page */
  }
}

.box {
  background-color: red;
}

.blueSvg {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpattern id='bg_pattern' width='100' height='100' patternUnits='userSpaceOnUse'%3E%3Crect x='0' y='0' width='100' height='100' fill='%233D348B'%3E%3C/rect%3E%3Crect x='10' y='10' width='80' height='80' fill='%237678ED'%3E%3C/rect%3E%3Crect x='20' y='20' width='60' height='60' fill='%233D348B'%3E%3C/rect%3E%3Crect x='30' y='30' width='40' height='40' fill='%237678ED'%3E%3C/rect%3E%3Crect x='40' y='40' width='20' height='20' fill='%233D348B'%3E%3C/rect%3E%3Crect x='0' y='0' width='50' height='50' fill='%233D348B'%3E%3C/rect%3E%3Crect x='0' y='0' width='40' height='40' fill='%237678ED'%3E%3C/rect%3E%3Crect x='0' y='0' width='30' height='30' fill='%233D348B'%3E%3C/rect%3E%3Crect x='0' y='0' width='20' height='20' fill='%237678ED'%3E%3C/rect%3E%3Crect x='0' y='0' width='10' height='10' fill='%233D348B'%3E%3C/rect%3E%3Crect x='50' y='50' width='50' height='50' fill='%233D348B'%3E%3C/rect%3E%3Crect x='60' y='60' width='40' height='40' fill='%237678ED'%3E%3C/rect%3E%3Crect x='70' y='70' width='30' height='30' fill='%233D348B'%3E%3C/rect%3E%3Crect x='80' y='80' width='20' height='20' fill='%237678ED'%3E%3C/rect%3E%3Crect x='90' y='90' width='10' height='10' fill='%233D348B'%3E%3C/rect%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='%23f9f9ff'%3E%3C/rect%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='url(%23bg_pattern)'%3E%3C/rect%3E%3C/svg%3E");
}

.lightBlueSvg {
  background-image: url("data:image/svg+xml,%3Csvg class='w-full h-full' viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpattern id='bg_pattern' width='100' height='100' patternUnits='userSpaceOnUse'%3E%3Crect x='0' y='0' width='100' height='100' fill='%2334798c'%3E%3C/rect%3E%3Crect x='10' y='10' width='80' height='80' fill='%2377d4ed'%3E%3C/rect%3E%3Crect x='20' y='20' width='60' height='60' fill='%2334798c'%3E%3C/rect%3E%3Crect x='30' y='30' width='40' height='40' fill='%2377d4ed'%3E%3C/rect%3E%3Crect x='40' y='40' width='20' height='20' fill='%2334798c'%3E%3C/rect%3E%3Crect x='0' y='0' width='50' height='50' fill='%2334798c'%3E%3C/rect%3E%3Crect x='0' y='0' width='40' height='40' fill='%2377d4ed'%3E%3C/rect%3E%3Crect x='0' y='0' width='30' height='30' fill='%2334798c'%3E%3C/rect%3E%3Crect x='0' y='0' width='20' height='20' fill='%2377d4ed'%3E%3C/rect%3E%3Crect x='0' y='0' width='10' height='10' fill='%2334798c'%3E%3C/rect%3E%3Crect x='50' y='50' width='50' height='50' fill='%2334798c'%3E%3C/rect%3E%3Crect x='60' y='60' width='40' height='40' fill='%2377d4ed'%3E%3C/rect%3E%3Crect x='70' y='70' width='30' height='30' fill='%2334798c'%3E%3C/rect%3E%3Crect x='80' y='80' width='20' height='20' fill='%2377d4ed'%3E%3C/rect%3E%3Crect x='90' y='90' width='10' height='10' fill='%2334798c'%3E%3C/rect%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='%23f9f9ff'%3E%3C/rect%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='url(%23bg_pattern)'%3E%3C/rect%3E%3C/svg%3E");
}

.yellowSvg {
  background-image: url("data:image/svg+xml,%3Csvg class='w-full h-full' viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpattern id='bg_pattern' width='100' height='100' patternUnits='userSpaceOnUse'%3E%3Crect x='0' y='0' width='100' height='100' fill='%23858c34'%3E%3C/rect%3E%3Crect x='10' y='10' width='80' height='80' fill='%23dfed77'%3E%3C/rect%3E%3Crect x='20' y='20' width='60' height='60' fill='%23858c34'%3E%3C/rect%3E%3Crect x='30' y='30' width='40' height='40' fill='%23dfed77'%3E%3C/rect%3E%3Crect x='40' y='40' width='20' height='20' fill='%23858c34'%3E%3C/rect%3E%3Crect x='0' y='0' width='50' height='50' fill='%23858c34'%3E%3C/rect%3E%3Crect x='0' y='0' width='40' height='40' fill='%23dfed77'%3E%3C/rect%3E%3Crect x='0' y='0' width='30' height='30' fill='%23858c34'%3E%3C/rect%3E%3Crect x='0' y='0' width='20' height='20' fill='%23dfed77'%3E%3C/rect%3E%3Crect x='0' y='0' width='10' height='10' fill='%23858c34'%3E%3C/rect%3E%3Crect x='50' y='50' width='50' height='50' fill='%23858c34'%3E%3C/rect%3E%3Crect x='60' y='60' width='40' height='40' fill='%23dfed77'%3E%3C/rect%3E%3Crect x='70' y='70' width='30' height='30' fill='%23858c34'%3E%3C/rect%3E%3Crect x='80' y='80' width='20' height='20' fill='%23dfed77'%3E%3C/rect%3E%3Crect x='90' y='90' width='10' height='10' fill='%23858c34'%3E%3C/rect%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='%23f9f9ff'%3E%3C/rect%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='url(%23bg_pattern)'%3E%3C/rect%3E%3C/svg%3E");
}

.orangeSvg {
  background-image: url("data:image/svg+xml,%3Csvg class='w-full h-full' viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpattern id='bg_pattern' width='100' height='100' patternUnits='userSpaceOnUse'%3E%3Crect x='0' y='0' width='100' height='100' fill='%238c6434'%3E%3C/rect%3E%3Crect x='10' y='10' width='80' height='80' fill='%23edb777'%3E%3C/rect%3E%3Crect x='20' y='20' width='60' height='60' fill='%238c6434'%3E%3C/rect%3E%3Crect x='30' y='30' width='40' height='40' fill='%23edb777'%3E%3C/rect%3E%3Crect x='40' y='40' width='20' height='20' fill='%238c6434'%3E%3C/rect%3E%3Crect x='0' y='0' width='50' height='50' fill='%238c6434'%3E%3C/rect%3E%3Crect x='0' y='0' width='40' height='40' fill='%23edb777'%3E%3C/rect%3E%3Crect x='0' y='0' width='30' height='30' fill='%238c6434'%3E%3C/rect%3E%3Crect x='0' y='0' width='20' height='20' fill='%23edb777'%3E%3C/rect%3E%3Crect x='0' y='0' width='10' height='10' fill='%238c6434'%3E%3C/rect%3E%3Crect x='50' y='50' width='50' height='50' fill='%238c6434'%3E%3C/rect%3E%3Crect x='60' y='60' width='40' height='40' fill='%23edb777'%3E%3C/rect%3E%3Crect x='70' y='70' width='30' height='30' fill='%238c6434'%3E%3C/rect%3E%3Crect x='80' y='80' width='20' height='20' fill='%23edb777'%3E%3C/rect%3E%3Crect x='90' y='90' width='10' height='10' fill='%238c6434'%3E%3C/rect%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='%23f9f9ff'%3E%3C/rect%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='url(%23bg_pattern)'%3E%3C/rect%3E%3C/svg%3E");
}

.redSvg {
  background-image: url("data:image/svg+xml,%3Csvg class='w-full h-full' viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpattern id='bg_pattern' width='100' height='100' patternUnits='userSpaceOnUse'%3E%3Crect x='0' y='0' width='100' height='100' fill='%238c3434'%3E%3C/rect%3E%3Crect x='10' y='10' width='80' height='80' fill='%23ed9477'%3E%3C/rect%3E%3Crect x='20' y='20' width='60' height='60' fill='%238c3434'%3E%3C/rect%3E%3Crect x='30' y='30' width='40' height='40' fill='%23ed9477'%3E%3C/rect%3E%3Crect x='40' y='40' width='20' height='20' fill='%238c3434'%3E%3C/rect%3E%3Crect x='0' y='0' width='50' height='50' fill='%238c3434'%3E%3C/rect%3E%3Crect x='0' y='0' width='40' height='40' fill='%23ed9477'%3E%3C/rect%3E%3Crect x='0' y='0' width='30' height='30' fill='%238c3434'%3E%3C/rect%3E%3Crect x='0' y='0' width='20' height='20' fill='%23ed9477'%3E%3C/rect%3E%3Crect x='0' y='0' width='10' height='10' fill='%238c3434'%3E%3C/rect%3E%3Crect x='50' y='50' width='50' height='50' fill='%238c3434'%3E%3C/rect%3E%3Crect x='60' y='60' width='40' height='40' fill='%23ed9477'%3E%3C/rect%3E%3Crect x='70' y='70' width='30' height='30' fill='%238c3434'%3E%3C/rect%3E%3Crect x='80' y='80' width='20' height='20' fill='%23ed9477'%3E%3C/rect%3E%3Crect x='90' y='90' width='10' height='10' fill='%238c3434'%3E%3C/rect%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='%23f9f9ff'%3E%3C/rect%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='url(%23bg_pattern)'%3E%3C/rect%3E%3C/svg%3E");
}

.greenSvg {
  background-image: url("data:image/svg+xml,%3Csvg class='w-full h-full' viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpattern id='bg_pattern' width='100' height='100' patternUnits='userSpaceOnUse'%3E%3Crect x='0' y='0' width='100' height='100' fill='%23348c3b'%3E%3C/rect%3E%3Crect x='10' y='10' width='80' height='80' fill='%239ced77'%3E%3C/rect%3E%3Crect x='20' y='20' width='60' height='60' fill='%23348c3b'%3E%3C/rect%3E%3Crect x='30' y='30' width='40' height='40' fill='%239ced77'%3E%3C/rect%3E%3Crect x='40' y='40' width='20' height='20' fill='%23348c3b'%3E%3C/rect%3E%3Crect x='0' y='0' width='50' height='50' fill='%23348c3b'%3E%3C/rect%3E%3Crect x='0' y='0' width='40' height='40' fill='%239ced77'%3E%3C/rect%3E%3Crect x='0' y='0' width='30' height='30' fill='%23348c3b'%3E%3C/rect%3E%3Crect x='0' y='0' width='20' height='20' fill='%239ced77'%3E%3C/rect%3E%3Crect x='0' y='0' width='10' height='10' fill='%23348c3b'%3E%3C/rect%3E%3Crect x='50' y='50' width='50' height='50' fill='%23348c3b'%3E%3C/rect%3E%3Crect x='60' y='60' width='40' height='40' fill='%239ced77'%3E%3C/rect%3E%3Crect x='70' y='70' width='30' height='30' fill='%23348c3b'%3E%3C/rect%3E%3Crect x='80' y='80' width='20' height='20' fill='%239ced77'%3E%3C/rect%3E%3Crect x='90' y='90' width='10' height='10' fill='%23348c3b'%3E%3C/rect%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='%23f9f9ff'%3E%3C/rect%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='url(%23bg_pattern)'%3E%3C/rect%3E%3C/svg%3E");
}

.violetSvg {
  background-image: url("data:image/svg+xml,%3Csvg class='w-full h-full' viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpattern id='bg_pattern' width='100' height='100' patternUnits='userSpaceOnUse'%3E%3Crect x='0' y='0' width='100' height='100' fill='%236b348c'%3E%3C/rect%3E%3Crect x='10' y='10' width='80' height='80' fill='%23bd77ed'%3E%3C/rect%3E%3Crect x='20' y='20' width='60' height='60' fill='%236b348c'%3E%3C/rect%3E%3Crect x='30' y='30' width='40' height='40' fill='%23bd77ed'%3E%3C/rect%3E%3Crect x='40' y='40' width='20' height='20' fill='%236b348c'%3E%3C/rect%3E%3Crect x='0' y='0' width='50' height='50' fill='%236b348c'%3E%3C/rect%3E%3Crect x='0' y='0' width='40' height='40' fill='%23bd77ed'%3E%3C/rect%3E%3Crect x='0' y='0' width='30' height='30' fill='%236b348c'%3E%3C/rect%3E%3Crect x='0' y='0' width='20' height='20' fill='%23bd77ed'%3E%3C/rect%3E%3Crect x='0' y='0' width='10' height='10' fill='%236b348c'%3E%3C/rect%3E%3Crect x='50' y='50' width='50' height='50' fill='%236b348c'%3E%3C/rect%3E%3Crect x='60' y='60' width='40' height='40' fill='%23bd77ed'%3E%3C/rect%3E%3Crect x='70' y='70' width='30' height='30' fill='%236b348c'%3E%3C/rect%3E%3Crect x='80' y='80' width='20' height='20' fill='%23bd77ed'%3E%3C/rect%3E%3Crect x='90' y='90' width='10' height='10' fill='%236b348c'%3E%3C/rect%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='%23f9f9ff'%3E%3C/rect%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='url(%23bg_pattern)'%3E%3C/rect%3E%3C/svg%3E");
}

.pinkSvg {
  background-image: url("data:image/svg+xml,%3Csvg class='w-full h-full' viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpattern id='bg_pattern' width='100' height='100' patternUnits='userSpaceOnUse'%3E%3Crect x='0' y='0' width='100' height='100' fill='%238c347b'%3E%3C/rect%3E%3Crect x='10' y='10' width='80' height='80' fill='%23ed77eb'%3E%3C/rect%3E%3Crect x='20' y='20' width='60' height='60' fill='%238c347b'%3E%3C/rect%3E%3Crect x='30' y='30' width='40' height='40' fill='%23ed77eb'%3E%3C/rect%3E%3Crect x='40' y='40' width='20' height='20' fill='%238c347b'%3E%3C/rect%3E%3Crect x='0' y='0' width='50' height='50' fill='%238c347b'%3E%3C/rect%3E%3Crect x='0' y='0' width='40' height='40' fill='%23ed77eb'%3E%3C/rect%3E%3Crect x='0' y='0' width='30' height='30' fill='%238c347b'%3E%3C/rect%3E%3Crect x='0' y='0' width='20' height='20' fill='%23ed77eb'%3E%3C/rect%3E%3Crect x='0' y='0' width='10' height='10' fill='%238c347b'%3E%3C/rect%3E%3Crect x='50' y='50' width='50' height='50' fill='%238c347b'%3E%3C/rect%3E%3Crect x='60' y='60' width='40' height='40' fill='%23ed77eb'%3E%3C/rect%3E%3Crect x='70' y='70' width='30' height='30' fill='%238c347b'%3E%3C/rect%3E%3Crect x='80' y='80' width='20' height='20' fill='%23ed77eb'%3E%3C/rect%3E%3Crect x='90' y='90' width='10' height='10' fill='%238c347b'%3E%3C/rect%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='%23f9f9ff'%3E%3C/rect%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='url(%23bg_pattern)'%3E%3C/rect%3E%3C/svg%3E");
}

.greySvg {
  background-image: url("data:image/svg+xml,%3Csvg class='w-full h-full' viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpattern id='bg_pattern' width='100' height='100' patternUnits='userSpaceOnUse'%3E%3Crect x='0' y='0' width='100' height='100' fill='%23000000'%3E%3C/rect%3E%3Crect x='10' y='10' width='80' height='80' fill='%234e4e4e'%3E%3C/rect%3E%3Crect x='20' y='20' width='60' height='60' fill='%23000000'%3E%3C/rect%3E%3Crect x='30' y='30' width='40' height='40' fill='%234e4e4e'%3E%3C/rect%3E%3Crect x='40' y='40' width='20' height='20' fill='%23000000'%3E%3C/rect%3E%3Crect x='0' y='0' width='50' height='50' fill='%23000000'%3E%3C/rect%3E%3Crect x='0' y='0' width='40' height='40' fill='%234e4e4e'%3E%3C/rect%3E%3Crect x='0' y='0' width='30' height='30' fill='%23000000'%3E%3C/rect%3E%3Crect x='0' y='0' width='20' height='20' fill='%234e4e4e'%3E%3C/rect%3E%3Crect x='0' y='0' width='10' height='10' fill='%23000000'%3E%3C/rect%3E%3Crect x='50' y='50' width='50' height='50' fill='%23000000'%3E%3C/rect%3E%3Crect x='60' y='60' width='40' height='40' fill='%234e4e4e'%3E%3C/rect%3E%3Crect x='70' y='70' width='30' height='30' fill='%23000000'%3E%3C/rect%3E%3Crect x='80' y='80' width='20' height='20' fill='%234e4e4e'%3E%3C/rect%3E%3Crect x='90' y='90' width='10' height='10' fill='%23000000'%3E%3C/rect%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='%23f9f9ff'%3E%3C/rect%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='url(%23bg_pattern)'%3E%3C/rect%3E%3C/svg%3E");
}

.input {
  border-radius: 20px;
  background-color: white;
  color: rgb(66, 66, 66);
  box-shadow: 0px 0px 1px rgba(66, 66, 66, 0.75);
  border: 2px solid rgba(66, 66, 66, 0.537);
}

.css-input {
  padding: 8px;
  width: 100%;
  font-size: 16px;
  background-color: white;
  color: #000000;
  border-radius: 20px;
}
.css-input:focus {
  outline: none;
}

@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}

.ping {
  position: relative;
  padding-left: 1em;
  color: #f23737;
}

.ping::before,
.ping::after {
  content: "";
  position: absolute;
  top: -0.25em;
  left: -6px;
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  background-color: currentColor;
}

.ping::before {
  animation: ping 1.7s ease infinite;
  opacity: 0.25;
}

.dropDownButton {
  background-color: #006769;
  color: white;
}

.transition-all {
  transition: all 0.3s ease;
}

.transition-2 {
  transition: all 0.2s ease;
}

.rotate {
  transform: rotate(180deg);
}

.control {
  font-family: arial;
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 3px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 17px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control_indicator {
  position: absolute;
  top: 4px;
  left: 0;
  height: 22px;
  width: 22px;
  background: #e6e6e6;
  border: 0px solid #000000;
  border-radius: 3px;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  background: #cccccc;
}

.control input:checked ~ .control_indicator {
  background: #154f5d;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
  background: #154f5d;
}
.control input:disabled ~ .control_indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control_indicator:after {
  box-sizing: unset;
  content: "";
  position: absolute;
  display: none;
}
.control input:checked ~ .control_indicator:after {
  display: block;
}
.control-checkbox .control_indicator:after {
  left: 9px;
  top: 5px;
  width: 3px;
  height: 9px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
  border-color: #7b7b7b;
}
.control-checkbox .control_indicator::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: -1.5rem;
  margin-top: -1.5rem;
  background: #1363a4;
  border-radius: 3rem;
  opacity: 0.6;
  z-index: 99999;
  transform: scale(0);
}
@keyframes s-ripple {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
@keyframes s-ripple-dup {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
.control-checkbox input + .control_indicator::before {
  animation: s-ripple 250ms ease-out;
}
.control-checkbox input:checked + .control_indicator::before {
  animation-name: s-ripple-dup;
}

fieldset {
  width: 40%;
}

legend {
  color: #154f5d;
  padding: 5px 10px;
  position: relative;
  font-weight: 600;
}

.legendInput {
  width: 100%;
  height: 100%;
  color: #ebebeb;
}

tr {
  min-height: 30px;
}

th {
  border: 1px solid white;
  color: white;
  background: #006769;
}

td {
  border: 1px solid rgb(67, 67, 67);
  text-align: center;
  min-width: 30px;
  min-height: 30px;
}

tr:nth-child(even) {
  background-color: #ededed;
}

tr:hover {
  background-color: #cacacaae;
}

.personDetailsTable {
  border: none;
}

.personDetailsTable > tr {
  border: none !important;
}

.parent{
  display: flex;
  width: 100%;
  font-size: 18px;
  border-bottom: 2px solid white;
  padding-bottom: 2px;
  font-weight: 500;
  color: #4d4b4b;
}

.left{
  width: 45%;
}

.right{
  width: 65%;
  word-break: keep-all;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* App.css */

.otp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.otp-input {
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 0 5px;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 4px;
  outline: none; /* Remove default focus outline */
}

.otp-input:focus {
  border-color: #006769; /* Change border color on focus */
}


.oneDiv{
  text-align: right;
  height: 100vh;
  padding: 50px;
  font-size: 50px;
  font-weight: 600;
}

.one{
  background-color: #587CE2;
}
.two{
  background-color: lightslategray
}
.three{
  background-color: lightgoldenrodyellow
}
.four{
  background-color: lightcyan
}
.five{
  background-color: lightblue
}
.six{
  background-color: lightcoral
}
.seven{
  background-color: lightseagreen
}
.eight{
  background-color: rgb(255, 182, 193)
}


/* App.css */

.joyride-tooltip {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #333;
}

.joyride-tooltip__heading {
  font-family: 'Georgia', serif;
  font-size: 18px;
  color: #444;
}

.joyride-tooltip__body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #333;
}

.joyride-tooltip__footer {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  color: #666;
}

.joyride-tooltip__button {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: #007bff;
  border-radius: 4px;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}

.joyride-tooltip__button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.loading-animation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw; /* Adjust the width as needed */
  height: 100vh; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 99999;
}


/* ExcelUploader.css */
.excel-uploader {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  height: fit-content;
}

.dropzone {
  border: 3px dashed #9f9d9d;
  border-radius: 4px;
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(246, 246, 246);
}

.dropzone.active {
  border-color: #2196f3;
  background-color: #bac0c4;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.upload-button, .cancel-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.upload-button {
  background-color: #2196f3;
  color: white;
}

.upload-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.cancel-button {
  background-color: #f44336;
  color: white;
}

.progress-container {
  margin-top: 20px;
}

.progress-bar {
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #4caf50;
  transition: width 0.3s ease;
}

.success-count {
  margin-top: 20px;
  font-weight: bold;
  color: #4caf50;
}

.field-names {
  margin-top: 20px;
  text-align: left;
}

.field-names ul {
  list-style-type: none;
  padding: 0;
}

.field-names li {
  margin-bottom: 5px;
}